h1, h3 {
    border-bottom: 1px solid #eee;
}

pre {
    background-color: #eee;
}

.cv-block {
    width: 800px;
    border: 1px solid #eee;
    padding: 30px;
    margin: 0 auto;
}

.img {
    width: 200px;
}

.contacts {
    font-style: normal;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.description {
    background-color: #eee;
    padding: 10px;
}
